* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
}

.error-msg {
  color: maroon;
}

.container {
  background-color: #0b273b;
}

.header {
  background-color: #61c7ad;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: baseline;

  @media screen and (min-width: 768px) {
    padding-inline: 5rem;
  }

  @media screen and (min-width: 1024px) {
    padding-inline: 8rem;
  }
  @media screen and (min-width: 1400px) {
    padding-inline: 12rem;
  }

  &__icon {
    color: aliceblue;
    @media screen and (min-width: 768px) {
      font-size: 1.5rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 2.5rem;
    }
  }

  &__h1 {
    color: aliceblue;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2rem 1rem 0.5rem 1rem;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 2rem;
    }
    @media screen and (min-width: 1024px) {
      font-size: 3rem;
    }
    @media screen and (min-width: 1200px) {
      font-size: 4rem;
    }
  }

  &__text {
    color: #292828;
    margin: auto 10px 5px 10px;
    text-align: center;
    font-size: 14px;
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      font-size: 18px;
    }
    @media screen and (min-width: 1024px) {
      font-size: 16px;
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1400px) {
      font-size: 20px;
      padding-inline: 10rem;
    }
  }

  &__btn {
    text-decoration: none;
    background-color: #e18fcd;
    color: aliceblue;
    padding: 5px;
    border-radius: 20px;
    margin-top: 500px;
  }
}

.main {
  background-color: #0b273b;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
    margin: 15px 5px;
  }
  @media screen and (min-width: 1024px) {
    gap: 40px;
  }
}
.main .title {
  color: aliceblue;
  text-align: center;
}

.main .ask-info {
  padding: 20px;
  text-align: center;
  color: aliceblue;
}

.main .ask-info .subtitle {
  padding-bottom: 10px;
}

.main .ask-info .line {
  width: 100%;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.main .form {
  max-width: 70%;
  @media screen and (min-width: 768px) {
    max-width: 80%;
    justify-content: flex-start;
    align-self: flex-start;
    margin-bottom: 10px;
    margin-left: 0;
  }
}

.main .project,
.main .autor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: none;
}

.main .autor .input {
  background: linear-gradient(90deg, #e18fcd -1.57%, rgb(199, 28, 199) 98.43%);
}

.main .input,
.textarea {
  background-color: #e18fcd;
  border: 1px solid aliceblue;
  border-radius: 40px;
  height: 38px;
  color: #ffffff;
  padding-left: 15px;
  padding-top: 5px;
}

.main .input::placeholder,
.textarea::placeholder {
  color: aliceblue;
}

.main .textarea {
  height: 100px;
  padding-top: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.main .buttons-img {
  text-align: center;
}

.main .btn,
.main .btn-large {
  width: 170px;
  margin-top: 10px;
  color: aliceblue;
  text-align: center;
  border: none;
  height: 43px;
  background: linear-gradient(90deg, #e18fcd -1.57%, rgb(199, 28, 199) 98.43%);
  border-radius: 40px;
  border: solid 1px aliceblue;
}

.main .btn-large {
  width: 200px;
  border: solid 1px aliceblue;
  text-transform: uppercase;
}

.main .preview {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 50%;
  }
  @media screen and (min-width: 1024px) {
    gap: 4rem;
  }
}

.main .preview .image {
  object-fit: cover;
  width: 90%;

  @media screen and (min-width: 768px) {
    width: 100%;
  }
  @media screen and (min-width: 1024px) {
    width: 110%;
  }
}

.main .preview .autor {
  background-color: #e18fcd;
  color: #292828;
  width: 50%;
  justify-content: center;
  transform: translateY(-100px);
  border-radius: 20px;
  display: flex;
  flex-direction: row-reverse;
  padding: 5px 15px;
  align-items: center;

  @media screen and (min-width: 768px) {
    padding: 10px 15px;
    gap: 10px;
  }
  @media screen and (min-width: 1024px) {
    gap: 40px;
  }
}

.info-autor {
  text-align: center;
}

.info-autor .image {
  height: 12vh;
  border-radius: 20px;
  @media screen and (min-width: 768px) {
    height: 14vh;
    margin: 10px;
  }
  @media screen and (min-width: 768px) {
    height: 12vh;
  }
}

.info-autor .job {
  font-weight: bold;
  color: black;
  font-size: 14px;
}

.info-autor .name {
  font-size: 14px;
}

.info-project {
  padding: 5px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
  }
  @media screen and (min-width: 1024px) {
    padding-left: 30px;
  }
}

.info-project .title {
  font-size: 16px;
  color: black;
  margin-bottom: 10px;
}

.info-project .subtitle,
.info-project .desc,
.info-project .slogan {
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
}

.info-project .line {
  width: 100%;
  border: 0;
  height: 1px;

  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0),
    rgba(1, 1, 1, 0.75),
    rgba(255, 255, 255, 0)
  );
}

.btn-color {
  border-radius: 20px;
  width: 85px;
  height: 30px;
  font-weight: bold;
}

.btn-color-dark {
  background-color: black;
  color: aliceblue;
}

.technologies {
  background-color: lightgray;
  border-radius: 20px;
  font-size: 12px;
  padding: 3px 5px;
  width: 100%;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 15px;
  }
}

.icon-div {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.icon-preview .fa-globe,
.fa-github {
  text-decoration: none;
  color: purple;
  font-size: 18px;

  @media screen and (min-width: 768px) {
    font-size: 22px;
  }
}

.card {
  color: aliceblue;
  text-align: center;
  padding: 20px;
}

.hidden {
  display: none;
}

.footer {
  background-color: #61c7ad;
  height: 10vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  &__logo {
    height: 5vh;
    @media screen and (min-width: 768px) {
      height: 7vh;
    }
  }
}

.image_leaves {
  width: 300px;
  @media screen and (min-width: 768px) {
    width: 500px;
  }
}
